.CreateLetter {
  height: auto;
  width: 100%;
  background: linear-gradient(to bottom, #ebcabe, #e7f5f3);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
  margin: auto;
  padding: 30px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  font-family: "Arial", sans-serif;
}

.CreateLetter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 1;
}

.LetterForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 2;
  position: relative;
}

.To {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.FormField {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  position: relative;
}

label {
  font-size: 19px;
  margin-bottom: 5px;
  color: #f8f8f8;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.helper-text {
  font-size: 11px;
  color: #ffcccb;
  margin-left: 5px;
}

input,
textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 5px;
  background: #fff;
  color: #333;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.SubmitButton {
  padding: 10px 20px;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  cursor: not-allowed;
  background-color: #ccc;
  color: #fff;
  transition: background-color 0.3s, cursor 0.3s;
}

.SubmitButton.active {
  background-color: #3cb371;
  cursor: pointer;
}

.SubmitButton.active:hover {
  background-color: #da562e;
}

.SubmitButton.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.helper-text {
  font-size: 11px;
  color: #f44336;
  margin-top: 5px;
}

.char-count {
  font-size: 10px;
  color: #555;
  position: absolute;
  right: 0;
  bottom: 2px;
}

/* 눈송이 애니메이션 */
.snowflake {
  position: absolute;
  top: -10px;
  color: white;
  font-size: 14px;
  animation: snow 10s linear infinite;
  z-index: 2;
  pointer-events: none;
}

@keyframes snow {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}
